* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  list-style: none;
  outline: none;
}

body {
  width: 100%;
  height: 100%;
  background-color: rgb(242, 245, 248);
}

.container {
  max-width: 1300px;
  margin-inline: auto;
  padding: 1rem 2rem;
}

header {
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0px 5px 14px 0px rgba(0, 0, 0, 0.2);
  color: rgb(36, 99, 235);
}

.new-tweet-container {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
}

#tweet-input-field {
  width: 80%;
  padding: 0 0.7rem;
}

input {
  border: 1px solid lightgray;
}

button {
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

#tweet-btn {
  width: 20%;
  background-color: rgb(36, 99, 235);
  padding: 0.7rem;
}

.posts-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.post {
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  box-shadow: 0px 5px 14px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.comments-container {
  padding-left: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.delete-comment-btn {
  border: none;
  background-color: rgb(242, 245, 248);
  color: red;
}

.comment-text {
  display: inline-block;
  padding-left: 0.3rem;
}

.comment-input-container {
  padding-left: 0.7rem;
  display: flex;
  gap: 0.5rem;
}

.comment-input-field {
  padding: 0.1rem 0.3rem;
  width: 30%;
}

.comment-btn {
  background-color: rgb(100, 116, 139);
  border: none;
  padding: 0.3rem 0.5rem;
}

.delete-tweet-btn {
  background-color: rgb(210, 43, 43);
  color: white;
  padding: 0.3rem;
  width: 15%;
}
